#a {
    height: 20px;
    width: 50px;
    background-color: green;
    position: absolute;
    left: 375px;
}



#b {
    height: 20px;
    width: 100px;
    background-color: yellow;
    position: absolute;
    left: 375px;
}

#c {
    height: 20px;
    width: 150px;
    background-color: red;
    position: absolute;
    left: 375px;
}

.top {
    top: 450px;
}

.middle {
    top: 470px;
}

.bottom {
    top: 490px;
}

.one {
    left: 375px;
}
.two {
    left: 425px;
}
.three {
    left: 500px;
}

#towers {
    margin-top: 20%;
    text-align: center;
}

.tower {
    height: 200px;
    width: 50px;
    background-color: black;
    display: inline-block;
    margin: 0 100px;
}
