#size-sm {
    height: 20px;
    width: 50px;
    background-color: green;
    position: absolute;
    top: 450px;
    left: 375px;
}

#size-md {
    height: 20px;
    width: 100px;
    background-color: yellow;
    position: absolute;
    top: 470px;
    left: 375px;
}

#size-lg {
    height: 20px;
    width: 150px;
    background-color: red;
    position: absolute;
    top: 490px;
    left: 375px;
}

#towers {
    margin-top: 20%;
    text-align: center;
}

.tower {
    height: 200px;
    width: 50px;
    background-color: black;
    display: inline-block;
    margin: 0 100px;
}
